@import '../../styles/settings.scss';

.container {
  background-color: $color-one;
}

.pageTitle {
  color: $color-three;
  font-family: $font-text;
  font-size: 48px;
  margin: 0;
  text-align: center;
  padding: 24px 0;
}

.pageSubtitle {
  color: $color-three;
  font-family: $font-text;
  font-size: 22px;
  margin: 0;
  text-align: center;
  padding-bottom: 24px;
}


@media (max-width: 767px) {

  .pageTitle {
    font-size: 24px;
  }
  
  .pageSubtitle {
    font-size: 16px;
  }
}  